{% extends 'admin/dashboard.html.twig' %}

{% block admin_content %}
    <div class="row">
        <div class="col-4">
            <h4>Gestion des articles </h4>
        </div>
        <div class="col-4">
            <a type="button" class="button primary small" href="/admin/ajouter">
                Ajouter un article
            </a>
        </div>
    </div>
    <div class="table-wrapper">
        <table>
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Titre</th>
                <th scope="col">Date de Publication</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for post in list_posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.createdAt | format_datetime('medium', 'none', locale='fr') }}</td>
                    <td>
                        <a href="/admin/edit/{{ post.id }}-{{ post.Slug() }}">
                            <strong>Modifier</strong>
                        </a>
                        <br>
                        <a href="/admin/delete/{{ post.id }}">
                            supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}