{% extends 'admin/dashboard.html.twig' %}

{% block admin_content %}
    <form id="{% if post.id is empty %}create{% else %}update{% endif %}-post-form"
          action="{% if post.id is empty %}/newpost{% else %}/updatepost{% endif %}" method="post">
        <div class="fields">
            <div class="field">
                <label for="post-title">Titre</label><input type="text" id="post-title" name="title"
                                                            value="{{ post.title }}">

                {% if errors.title %}
                    <div class="alert alert-danger">
                        {{ errors.title }}
                    </div>
                {% endif %}
            </div>
            <div class="field">
                <label for="content">Contenu</label>
                <textarea name="content" id="content" cols="30" rows="10">{{ post.content }}</textarea>

                {% if errors.content %}
                    <div class="alert alert-danger">
                        {{ errors.content }}
                    </div>
                {% endif %}
            </div>

            <div class="field half">
                <input class="form-check-input" type="radio" id="online" name="status" value="1"
                       {% if post.status == 1 %}checked{% endif %}>
                <label class="form-check-label" for="online"><strong>Publier</strong></label>
            </div>

            <div class="field half">
                <input class="form-check-input" type="radio" id="draft" name="status" value="0"
                       {% if post.status == 0 %}checked{% endif %}>
                <label class="form-check-label" for="draft"><strong>Enregistrer comme Brouillon</strong></label>
            </div>

            <div class="field">
                <input class="button small" type="submit" id="submit-post" value="Enregistrer">
            </div>
            {% if post.id is empty %}
                <input id="user-id" type="hidden" name="user_id" value="3"> <!-- TODO: set the logged-in user id  -->
                <input id="user-role" type="hidden" name="user_role" value="1">
            {% else %}
                <input id="post-id" type="hidden" name="id" value="{{ post.id }}">
            {% endif %}
        </div>
    </form>
{% endblock %}
