{% extends 'admin/dashboard.html.twig' %}

{% block admin_content %}
    <div class="table-wrapper">
        <table>
            <thead>
            <tr>
                <th>Pseudo</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
            </tr>
            </tbody>
        </table>
    </div>


    <a class="button" href="/admin/profile/edit/{{ user.id }}-{{ user.username }}">Modifier les infos</a>
    <a class="button" href="/admin/profile/password/{{ user.id }}-{{ user.username }}">Modifier le mot de passe</a>
{% endblock %}