{% extends 'admin/dashboard.html.twig' %}


{% block admin_content %}
    <h4>Gestion des utilisateurs </h4>
    <div class="table-wrapper">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Pseudo</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td scope="row">{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a type="button" class="btn btn-primary btn-sm"
                           href="/admin/profile/{{ user.id }}-{{ user.username |lower }}">
                            Editer le profil
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}