{% extends 'base.html.twig' %}

{% block content %}
    {% if session.getSession('confirm') %}
        <div class="alert alert-success">
            <strong>{{ session.show('confirm') }}</strong>
        </div>
    {% endif %}
    <header>
        <h1>Mon super Blog !</h1>
    </header>
    <section class="tiles">
        {% for post in posts %}
            {% set styles = ['1', '2', '3', '4', '5', '6'] %}
            <article class="style{{ cycle(styles, loop.index) }}">
                <span class="image">
                    <img src="../../public/assets/images/pic01.jpg">
                </span>

                <a href="/{{ post[0].id }}-{{ post[0].Slug() }}">
                    <h2>{{ post[0].title }}</h2>
                    <p>le <strong><time>{{ post[0].updatedAt | format_datetime('medium', 'none', locale='fr') }}</time></strong><br>par   <strong>{{ post[1].username }}</strong></p></p>
                    <div class="content">
                        <p>{{ post[2] }}...</p>
                        <p>Lire la suite</p>
                    </div>
                </a>
            </article>
        {% endfor %}
    </section>

{% endblock %}