{% extends 'base.html.twig' %}

{% block content %}
    {% if session.getSession('confirm') %}
        <div class="alert alert-success">
            <strong>{{ session.show('confirm') }}</strong>
        </div>
    {% endif %}
    <header>
        <h1>Mon super BLog !</h1>
    </header>
    <section class="tiles">
        {% for post in posts %}
            {% set styles = ['1', '2', '3', '4', '5', '6'] %}
            <article class="style{{ loop.index }}">
                <span class="image">
                    <img src="../../public/assets/images/pic01.jpg">
                </span>

                <a href="/{{ post.id }}-{{ post.Slug() }}">
                    <h2>{{ post.title }}</h2>
                    <div class="content">
                        <p>Lire la suite</p>
                    </div>
                </a>
            </article>
        {% endfor %}
    </section>

{% endblock %}