{% extends 'base.html.twig' %}

{% block content %}
    <article>
        <time>{{ post.createdAt | format_datetime('medium', 'none', locale='fr') }}</time>
        <h1>{{ post.title }}</h1>
        <p>{{ post.content | nl2br }}</p>
    </article>
    <div>
        <h2>Commentaires :</h2>
        <ul class="alt">
            {% for comment in comments %}
                <li>
                    <blockquote>{{ comment.content | nl2br }}</blockquote>
                    <p>par <strong>{{ comment.userName }}</strong>
                        <time>le {{ comment.createTime | format_datetime('medium', 'none', locale='fr') }}</time>
                    </p>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        {% if user.connected %}
            <p>Ajouter un commentaire:</p>
            <p class="alert alert-info">Vous postez en tant que {{ user.username }}</p>

                <form id="comment-form" method="post" action="/newcomment">
                    <div class="field">
                        <label for="message">Message</label><textarea class="form-control" name="message"
                                                                      id="message" cols="30"
                                                                      rows="10"></textarea>
                    </div>
                    {% if errors.message %}
                        <div class="alert alert-danger">
                            {{ errors.message }}
                        </div>
                    {% endif %}
                    <ul class="actions">
                        <li>
                            <input class="primary" type="submit" id="submit-comment" value="Envoyer">
                        </li>
                    </ul>
                    <input id="user-id" type="hidden" name="user_id" value="{{ user.id }}">
                    <!-- TODO: set ID of connected user  -->
                    <input id="post-id" type="hidden" name="post_id" value="{{ post.id }}">
                </form>
            {% else %}
                <p class="alert alert-info">Vous devez être connecté pour poster un commentaire</p>
            {% endif %}
        </div>
{% endblock %}